.footer {
    &__row {
        @include flexbox();
        justify-content: space-between;
    }
    &__column {
        height: 220px;
        @include ts(red);
        &_menu {
            flex: 0 0 50%;
        }
        &_social {
            flex: 0 0 30%;
        }
    }
    &__topic {}
    &__list {}
    &__subscibe {}
    &__social-links {}
}
