.header {
    position: absolute;
    width: 100%;
    z-index: 50;
    left: 0;
    // top: 35px;
    &__row {
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        
    }

    &__menu {
        // align-content: flex-end;
        margin-left: 10%;
        @media (max-width:1425px){
            margin-left: 0;
        }
    }
    &__social {
    }
}


.social {
    @include flexbox();
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    &__link {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(255, 255, 255, 0.22);
        border-radius: 15px;
        margin:0 7.5px;
        background: no-repeat center center;
        &:hover {
            opacity: 0.5;
        }
       
    }
    @media (max-width:1285px){
        padding: 0 30px 0 15px;
    }
    @media (max-width:767px) {
        padding: 0 10px 0 20px;
    }
}


.menu {
    // @include ts(red);
    &__icon {
    }
    &__body {

    }
    &__list {
        @include flexbox();
        list-style: none;
        align-items: center;
        @media (max-width:1030px){
            flex-wrap: wrap;
            li {
                padding-bottom: 10px;
                margin-top: 10px;
            }
        }
        li {
            position: relative;
            padding: 0px 20px;
            // @include ts(red);
            a {
                color: #fff;
                font-size: 16px;
                &:hover {
                    color: #097e89;
                }
            }
            @media (max-width:1285px){
                padding: 0px 10px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    // .menu__link
    &__link {
        color: #4d4959;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.6px;
    }

    @media (max-width:767px) {
        &__body {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: auto;
            background-color: #4d4959;
            padding: 150px 0 20px 0;
            @include tr(0px, -100%, 0px);
            @include anim(0.3s,0s);
            &.active {
                @include tr(0px,0px,0px);
            }
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 0 45px 0;
                &:nth-child(2), &:nth-child(3) {
                    padding: 0 0 45px 0;
                }
                &:last-child {
                    padding: 0;
                }

            }
        }
        &__link {
            color: #fff;
            font-size: 20px;
        }
    }
}

.logo {
    padding: 0 50px;
    // padding: 0px 110px 0px 37.5px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    span {
        color: #da2346;
    }
    &:hover{
        color: #da2346;
        span {
            color: #ffffff;
        }
    } 

}


.icon-menu {
    @media (max-width:767px) {
        display: block;
        position: absolute;
        top: 40%;
        right: center;
        margin-left: -20px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span{
            @include anim(0.3s,0s); 
            top: 8px; 
            left: 0px; 
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            &:first-child{top: 0px}
            &:last-child{top: auto; bottom: 0px}
        }
        &.active {
            span{
                @include scale(0);
                background-color: #fff;
                &:first-child{
                    @include rotate(-45deg);
                    top: 8px;
                }
                &:last-child{
                    @include rotate(45deg);
                    bottom: 8px;
                }
            }
        }
    }
}

// .social {
//     @include flexbox();
//     justify-content: center;
//     align-items: center;
//     &__link {
//         margin:0 7.5px;
//     }
// }



/* ------------- Burger Menu -----------------
.header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span{@include anim(0.3s,0s); top: 8px; left: 0px; position: absolute;width: 100%;height: 2px;background-color: #000;
        &:first-child{top: 0px}
        &:last-child{top: auto; bottom: 0px}
    }
    &.active {
        span{@include scale(0);
            &:first-child{@include rotate(-45deg);top: 8px;}
            &:last-child{@include rotate(45deg);bottom: 8px;}
        }
    }
}*/