@import "mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
// @import url('http://allfont.ru/allfont.css?fonts=sansation-regular');



@import "../fonts/sansation.css";


$fontfamily: "Sansation";

$minwidth: 320px;
@import "reset.scss";


body {
    font-family: $fontfamily;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1130px;
    padding: 0 30px;
}



@import "ui.scss";
@import "header.scss";
// @import "slick.scss";
// @import "slick-theme.scss";
@import "footer.scss";



.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

//------------- Section Generation -----------------

//    @include ts(red);

.slider {
    position: relative;

    &__body {
        font-family: 'Sansation Regular', arial;
        color: #ffffff;
    }
    &__item {
        position: relative;
        top: 0;
        left: 0;
    }
    &__image {
        width: 100%;
        height: 100vh;
        display: block;
        &_mask {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%; 
            left: 0%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }


    // &__row {
    //     position: absolute;
    //     color: #000;
    //     font-size: 50px;
    //     font-weight: 900;
    //     top: 20%;
    //     width: 100%;
    //     text-align: center;
    //     @include ts(red);
    //     p {
    //         color: #ffffff;
    //         font-family: 'Sansation Regular', arial;;
    //         font-size: 48px;
    //         font-weight: 700;
    //         line-height: 38.96px;
    //         text-transform: uppercase;
    //     } 
    // }
  
    &__control{
        width: 100%;
        position: absolute;
        top:48%;
        @include flexbox();
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 70px;

        .slick-next, .slick-prev{
            display: block;
            width: 29px;
            height: 33px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            // background-color: none;
        }
        @media (max-width:1150px){
            top:35%;
        }
        @media (max-width:750px){
            padding: 0 20px;
        }
    }
    &__arrow {
        button {
            background: none;
        }
        &_l {
            background: url(../img/slider/icons/2.png)  0 0/100% 100% no-repeat;
            opacity: 0.4;

        }
        &_r {
            background: url(../img/slider/icons/1.png)  0 0/100% 100% no-repeat;
            opacity: 0.4;
        }
    }
    &__text {
        flex: 0 0 50%;
        @include flexbox();
        flex-direction: column;
        justify-content: center;
        p {
            color: #fff;
            font-size: 48px;
            font-weight: 700;
            line-height: 38.96px;
            text-transform: uppercase;
            text-align: center;
            span {
                display: block;
                width: 100%;
                opacity: 0.7;
                font-size: 20px;
                font-weight: 400;
                line-height: 18.18px;
                padding-top: 20px;
            }
        }
        button {
            background: none;
            width: 150px;
            height: 50px;
            border: 2px solid #ffffff;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            &:hover {
                background-color: rgba(255,255,255,0.2);
                border: 2px solid #a08989;
            }
            @media (max-width:750px){
                width: 200px;
                height: 50px;
                font-size: 20px;
            }
        }
        @media (max-width:1150px){
            p {
                font-size: 40px;
                span {
                    font-size: 16px;
                }
            }
        }
        @media (max-width:750px){
            p {
                font-size: 40px;
                span {
                    font-size: 16px;
                }
            }
        }
    }
    &__hireus {
        margin: 0 auto;
        margin-top: 50px;
    }
    
}

//---------------- Section About ---------------------//

.about {
    // display: block;
    &__row {
        @include flexbox();
        height: auto;
        @media (max-width:780px){
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 0 50%;
        @media (max-width:780px){
            flex: 0 0 100%;
            &:nth-child(1) {
                @include flexorder(2);
            }
            &:nth-child(2) {
                @include flexorder(1);
            }
        }
    }
    &__image {
        display: block;
        height: 100%;
        @media (max-width:780px){
            height: 320px;
        }
    }
    &__text {}
    &__progress-line {
        @include flexbox();
        flex-direction: row;
        padding-top: 20px;
        hr {
            flex: 0 0 20%;
            height: 1px;
            background-color: #000;
        }
        &_active {
            height: 3px !important;
        }
    }
    &__more-details, .more-details {
        a {
            display: block;
            width: 200px;
            height: 50px;
            border-radius: 2px;
            background-color: #05a0af;
            @media (max-width:780px){
                width: 250px;
                height: 60px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__decribe_active {
        display: block;
    }
    &__decribe_passive {
        display: none;
    }
    &__btn {
        color: #f7f7f7;
        font-family: NEOTERIC;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 13px;
        &:hover {
            background-color: #048A96;
        }
        @media (max-width:780px){
            margin: 0 auto;
            font-size: 20px;
            padding-top: 18px;
        }
    }
}

.info-box {
    padding: 50px 65px 100px 65px;
    font-family: "Myriad Pro";
    font-weight: 400;
    h3 { 
        font-family: Sansation;
        color: #252525;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
    }
    p {
        padding: 20px 0 50px 0;
        font-size: 18px;
        line-height: 22px;
    }
    @media (max-width:780px){
        padding: 60px 35px 100px 35px;
        p {
            font-size: 22px;
            padding-bottom: 70px;
        }
    }
}

//---------------- Section Service ---------------------//

.service {

    &__row {
        @include flexbox();
        flex-direction: column;
        background-color: #373737;
        // overflow-x: hidden;
    }
    &__column {
        flex: 0 0 100%;
        // position: relative;
    }
    &__title {
        height: 140px;
        @media (max-width:1050px){
            height: 200px;
        }

    }
    &__item-row {
        @include flexbox();
        background-color: #3d3d3d;
        min-height: 550px;
        // padding-bottom: 0px;
        .slick-track {
            height: 100%;
        }
        position: relative;
    }
    &__item {
        flex: 0 0 20%;
        padding: 50px 4% 40px 4%;
        @include flexbox();
        flex-direction: column;
        align-items: center;
        color: #f7f7f7;
        height: 100% !important;
        h3 {
            margin-top: 55px;
            color: #f7f7f7;
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
        }
        span {
            display: block;
        }
        &:hover {
            background-color: #097e89;
        }
        @media (max-width:1050px){
            padding: 50px 2% 45px 2%;
        }
    }
    &__image {
        img {
            display: block;
            width: 125px;
            height: 74px;
            // @include ts(yellow);
        }
    }
    &__text {
        flex: 0 0 35%;
        height: auto;
        padding: 50px 60px;
        p{
            color: #cdc8c8;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    &__feedback {
        @include flexbox();
        background-color: #3d3d3d;
        align-items: center;
    }
    &__control-arrows {}
    &__arrow-left {}
    &__arrow-right {}
    &__carousel {
        flex: 0 0 65%;
        @include flexbox();
        justify-content: flex-start;
        overflow: hidden;
        height: 250px;
        align-items: center;
    }
    &__person-card {
        // flex: 0 0 256px;
        gap: 20px;
        img {
            width: 202px;
            height: 223px;
        }

    }
    &__more-details {
        border-radius: 2px;
        background-color: #959595;
        text-align: center;
        a {
            display: block;
            width: 200px;
            height: 40px;
            line-height: 16px;
            &:hover {
                background-color: #3d3d3d;
            }
            @media (max-width: 776px){
                width: 150px;
                height: 50px;
                font-size: 16px;
                line-height: 16px;
                padding-top: 10px;
            }
        }
    }
    &__control-arrow {
        $arrowsize: 40px;
        @include flexbox();
        width: 100%;
        justify-content: flex-end;
        gap: 1px;
        margin-top: -$arrowsize;
        position: absolute;
        span {
            flex: 0 0 $arrowsize;
            height: $arrowsize;
            background-color: #089eac;
            margin-left: 1px;
            button {
                display: block;
                width: 100%;
                height: 100%;
                background-size: cover;
                &.service__btn_left {
                    background: url(../img/service/icons/arrow1.png) no-repeat center center;
                    background-size: cover;
                }
                &.service__btn_right {
                    background: url(../img/service/icons/arrow2.png) no-repeat center center;
                    background-size: cover;
                }
            }
            &:hover {
                background-color: #32A8C2;
            }
        }
    }
}



.my-title {
    background-color: #373737;
    @include flexbox();
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    &__line-effect {
        @include flexbox();
        flex:0 0 33.33%;
        hr {
            flex: 0 0 20%;
            height: 1px;
            background-color: #ffffff;
        }
        &_different {
            height: 3px !important;
            margin-top: -1px;
        }
    }
    &__title {
        flex: 0 0 auto;
        color: #f7f7f7;
        font-size: 40px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }
    &_white {
        background-color: #fefefe;
        p{

            color: #656464;
        }
        hr {
            background-color: #656464;
        }
    }
}


.info-box {
}

.person-card {
    &__info {}
    &__num {}
    &__who {}
}
